.selectitempanal{
	background-color: #D2D2D2;
	width:300px;
	
}
.pricelabel{
	background-color: #ECECEC;
	width:150px;
	height: 30px;
}
.additempanal{
	background-color: #D2D2D2;
	width: 940px;
	margin-left: 72px;
}
.filters{
	background-color: #D2D2D2;
	width: 1075px;
	margin-left: 20px;
	padding-bottom: 20px;
}
.margin{
	margin-left: 10px;
}
#mainhead{
	position: fixed;
	width: 100%;
}
.main-sidebar{
	position: fixed;
}
#content-wrapper{
	margin-top: 50px;
}
.info-box-content span{
	padding: 30px 0px 0px 5px;
}
.dashbordbtn:hover{
	background-color:#BAABC8;
}